<div class="pro">
    <div class="container-sm d-flex text-center justify-content-center align-items-center">
        <div class="card">
            <i class="fa-solid fa-gear fa-beat fa-xl btn-config" style="cursor: pointer;"></i>
            <div class="image d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-secondary">
                    <img src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1680717462/avatar_yo_jz0etc.png"
                        id="imgPerfil">
                </button>
                <span class="name">Herny Glomba</span>
                <span class="idd">#Junt ID: 20545 😎</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                    <img class="water-mark"
                        src="https://res.cloudinary.com/dighitalsoluciones/image/upload/o_9/v1712253651/OTRAS%20APPS/APP%20JUNTAPP/Logo-solo-ico_abqj6e.png">
                </div>
                <div class="button-box">
                    <button data-bs-toggle="modal" data-bs-target="#modalNuevaJuntada">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper"></div>
                        </div>
                        <span>Nueva</span>
                    </button>
                    <button>
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper"></div>
                        </div>
                        <span>Historial</span>
                    </button>
                </div>
                <app-footer-navigation />
            </div>
        </div>
        <app-modal-nueva-juntada />
    </div>
</div>