* {
  user-select: none;
}

.navigation-card {
  position: fixed; /* Fija la barra de atajos en la parte inferior */
  bottom: 0; /* Alinea la barra de atajos con la parte inferior de la pantalla */
  left: 0; /* Alinea la barra de atajos con el lado izquierdo de la pantalla */
  width: 100%; /* Hace que la barra de atajos ocupe todo el ancho de la pantalla */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  padding: 15px 20px;
  border-radius: 30px;
  box-sizing: border-box;
  opacity: 70%;
  z-index: 98;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: rgb(252, 252, 252);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}

.tab:hover {
  background-color: rgb(223, 223, 223);
}

/* Esta media query se aplica en pantallas de tamaño notebook y más grandes */
@media (min-width: 768px) {
  .navigation-card {
    position: absolute;
    bottom: 0;
    left: 50%; /* Centra la barra de atajos horizontalmente */
    transform: translateX(
      -50%
    ); /* Ajusta la posición para que esté perfectamente centrada */
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 30px;
    box-sizing: border-box;
    opacity: 70%;
    z-index: 98;
  }
}
